:root {
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --slate: #434455;
    --bgrnd: #ffffff;
    --cloud: #f4f4fd;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    color: var(--slate);
    background-color: var(--bgrnd);
}
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
/*-----------HEADER-----------*/
.logo {
    color: var(--iris);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo .header-logo {
    color: var(--navyblue);
}

.navigation-list-item {
    color: var(--navyblue);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address {
    font-style: normal;
}
.address-list-item {
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-list-item:hover,
.navigation-list-item:hover,
.address-list-item:focus,
.navigation-list-item:focus {
    color: var(--iris);
}
/*-----------FOOTER-----------*/
.footer {
    background-color: var(--navyblue);
}
.logo .footer-logo {
    color: var(--cloud);
}
.footer-text {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
